<div class="row">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-8">
        <h1>Welcome to the Photo Booth!</h1>
        <% if user_signed_in? %>
          <%= link_to 'Create a new photo album', new_album_path, class: 'btn btn-primary btn-lg' %>
        <% else %>
          <%= link_to 'Sign up for an account', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= image_tag('logo.png', class: 'img-responsive') %>
      </div>
    </div>
  </div>
</div>