<h1>Photobooth</h1>
<p>Welcome to the Photobooth</p>

<video autoplay></video>
<img src="">
<canvas width="500px" height="400px" style="display:none;"></canvas>

<div>
  <button type="button">Click me</button>
  <span id="countdown"></span>
</div>

<script>
  navigator.getUserMedia  = navigator.getUserMedia ||
                            navigator.webkitGetUserMedia ||
                            navigator.mozGetUserMedia ||
                            navigator.msGetUserMedia;

  var video = document.querySelector('video');
  var canvas = document.querySelector('canvas');
  var button = document.querySelector('button');
  var ctx = canvas.getContext('2d');
  var img = document.querySelector('img');
  var countdown = document.getElementById('countdown');
  var localMediaStream = null;

  function snapshot() {
    if (localMediaStream) {
      ctx.drawImage(video, 0, 0);
      // "image/webp" works in Chrome.
      // Other browsers will fall back to image/png.
      img.src = canvas.toDataURL('image/webp');
    }
  }

  function startCountdown() {
    var count = 5;
    countdown.innerText = count;

    var counter = setInterval(timer, 1000);

    function timer() {
      count--;
      if (count === 0) {
        clearInterval(counter);
        snapshot();
      }

      countdown.innerText = count;
    }
  }

  button.addEventListener('click', startCountdown, false);

  if (navigator.getUserMedia) {
    navigator.getUserMedia({video: true}, function(stream) {
      video.src = window.URL.createObjectURL(stream);
      localMediaStream = stream;
    }, function(){alert('Failed');});
  } else {
    alert('Your browser is not supported.'); // fallback.
  }
</script>