<div class="row title-row">
  <div class="col-md-8">
    <h1>My albums</h1>
  </div>

  <div class="col-md-4">
    <%= link_to 'Create a new album', new_album_path, class: 'btn btn-primary btn-lg btn-block title-button' %>
  </div>
</div>