<%= form_for @album, html: { role: 'form' } do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>

  <legend>Create a new album</legend>

  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', type: 'text', autofocus: true, placeholder: 'Name your album', maxlength: 45 %>
  </div>

  <%= f.submit 'Get started', class: 'btn btn-primary' %>
<% end %>
