<video autoplay></video>
<img src="">
<canvas width="500px" height="400px" style="display:none;"></canvas>

<div>
  <button type="button">Click me</button>
  <span id="countdown" style="display:none"></span>
</div>

<%= form_for @photo do |f| %>
  <%= f.hidden_field :url %>
  <%= f.hidden_field :album_id, :value => @album.id %>
  <%= f.submit 'Save photo' %>
<% end %>

<button type="button">Retake</button>

<script>
  navigator.getUserMedia  = navigator.getUserMedia ||
                            navigator.webkitGetUserMedia ||
                            navigator.mozGetUserMedia ||
                            navigator.msGetUserMedia;

  var video = document.querySelector('video');
  var canvas = document.querySelector('canvas');
  var button = document.querySelector('button');
  var ctx = canvas.getContext('2d');
  var img = document.querySelector('img');
  var photo_url_field = document.querySelector('#photo_url');
  var countdown = document.getElementById('countdown');
  var localMediaStream = null;

  function snapshot() {
    if (localMediaStream) {
      ctx.drawImage(video, 0, 0);
      // "image/webp" works in Chrome.
      // Other browsers will fall back to image/png.
      var url = canvas.toDataURL('image/webp');
      img.src = url;
      photo_url_field.value = url;
    }
  }

  function startCountdown() {
    countdown.style.removeProperty('display');

    var count = 1;
    countdown.innerText = count;

    var counter = setInterval(timer, 1000);

    function timer() {
      count--;
      if (count === 0) {
        countdown.style.setProperty('display', 'none');
        clearInterval(counter);
        snapshot();
      }

      countdown.innerText = count;
    }
  }

  button.addEventListener('click', startCountdown, false);

  if (navigator.getUserMedia) {
    navigator.getUserMedia({video: true}, function(stream) {
      video.src = window.URL.createObjectURL(stream);
      localMediaStream = stream;
    }, function(){alert('Failed');});
  } else {
    alert('Your browser is not supported.'); // fallback.
  }
</script>