<div>
  <h1><%= @album.title %></h1>
  <strong><%= @username %></strong>
</div>

<%= link_to 'Enter the photo booth!', "/albums/#{@album.id}/photobooth", class: 'btn btn-primary btn-lg' %>

<% if !@album_photos.empty? %>
  <div class="row">
    <% @album_photos.each do |url| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(url), '#' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>