<%= render 'album_header' %>

<%= link_to 'Enter the photo booth!', "/albums/#{@album.id}/photobooth", class: 'btn btn-primary btn-lg hidden-xs hidden-sm' %>

<% if !@album_photos.empty? %>
  <div class="row">
    <% @album_photos.each do |url| %>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag(url), '#' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>