// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video {
  position: absolute;
  z-index: 0;
}

.snapshot {
  position: absolute;
  z-index: 1;
}

.controls {
  position: relative;
  left: 720px;
}

.countdown {
  padding-bottom: 5px;
}