// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video {
  position: absolute;
  left: 52px;
  z-index: -3;
}

.snapshot {
  position: absolute;
  z-index: 0;
}

.controls {
  position: relative;
  left: 550px;
  z-index: 2;
}

.countdown {
  padding-bottom: 5px;
}

.hidden-form {
  padding-bottom: 50px;
}

.title-row {
  padding-bottom: 15px;
}

.title-button {
  margin-top: 18px;
}

.photobooth-header {
  z-index: 3;
}

.video-border {
  position: absolute;
  margin: -100px 0 0 -100px;
  display: block;
  height: 725px;
  width: 725px;
  border: 100px solid #fff;
  z-index: -2;
}

.ctd {
  position: absolute;
  margin: -25px 0 0 15px;
  font-size: 75px;
}