// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video {
  position: absolute;
  left: 63px;
  z-index: -3;
}

.snapshot {
  position: absolute;
  z-index: 0;
}

.controls {
  position: relative;
  left: 550px;
  z-index: 2;
}

.countdown {
  padding-bottom: 5px;
}

.hidden-form {
  padding-bottom: 50px;
}

.title-row {
  padding-bottom: 15px;
}

.title-button {
  margin-top: 18px;
}

.photobooth-header {
  z-index: 3;
}

.video-border {
  position: absolute;
  margin: -90px 0 0 -90px;
  display: block;
  height: 705px;
  width: 705px;
  border-width: 90px;
  border-color: #fff;
  border-style: solid;
  z-index: -2;
}

span {
  position: absolute;
  margin: -25px 0 0 15px;
  font-size: 75px;
}